/build/
/build-*/
/.pixi/
/dist/
*.o
*.a
*.so
*.dylib
*.dll
compile_commands.json
.cache/
third_party/c-capnproto/
coverage-report/
*.gcda
*.gcno
*.gcov
__pycache__/
.mesonpy*

# Sphinx / ox-rst
docs/build/
